.feature-icon{
    color: #26B7B8;
    height: 5rem;
    width: 5rem;
}

.feature-icon-mobile{
    color: #26B7B8;
    height: 5rem;
    width: 5rem;
}

.feature-icon-steps{
    color: #26B7B8;
    height: 3rem;
    width: 3rem;
}
