.bg-palette-primary{
    background: #26B7B8;
}
.bg-palette-primary-dark{
    background: #138081;
}

.bg-palette-complementary{
    background: #9e1f64;
}
.text-palette-complementary{
    background: #9e1f64;
}
.bg-palette-complementary-dark{
    background: #7e0748;
}



#navbar{
    transition: top ease 0.5s;
}

#home-desktop{
    max-width: 70%;
}

@media(min-width: 1024px){
    #home-desktop{
        max-width: 55%;
    }
}


.feature-icon{
    color: #9e1f64;
    height: 5rem;
    width: 5rem;
}

.feature-icon-mobile{
    color: #9e1f64;
    height: 5rem;
    width: 5rem;
}

.howto-icon-steps{
    color: #26B7B8;
    height: 4.5rem;
}

#install-stepper-desktop svg{
    color: #ffffff;
    height: 7rem;
    margin-bottom: 0.5rem;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
}

.step-counter{
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

#contact-form-sendButton{
    background:  #39374e;
}
#contact-form-sendButton:hover{
    background: #9e1f64;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
#contact-form{
    background: #ffa73e3d;
    padding: 1rem;
    border-radius: .75rem;
}

